<app-header></app-header>


@for (p of parabola; track p.id) {
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/{{p.img}}" alt="..." /></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h2 class="display-4">{{p.titulo}}</h2>
                  <p>{{p.descripcion}}</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Content section 2-->
}





<app-piepagina></app-piepagina>
<router-outlet></router-outlet>
